<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABQ4VKLUEsQkt60meEgPUbo5stoc4AtgE</string>
	<key>GCM_SENDER_ID</key>
	<string>480148514109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ark.tpp</string>
	<key>PROJECT_ID</key>
	<string>the-phone-s-planet</string>
	<key>STORAGE_BUCKET</key>
	<string>the-phone-s-planet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480148514109:ios:a920366227a7ae9e4e5154</string>
</dict>
</plist>
